.byline {
  color: #777;
  font-style: italic;
}
.all-posts {
  border-top: thin solid #eee;
}
.post {
  padding-bottom: 50px;
  margin-bottom: 50px;
}
div.post-footer, div.post-footer a {
  color: #D5D5D5;
}

h2.title {
  color #3A9AC4;
  margin-bottom: 0;
  border-bottom: thin solid #3A9AC4;
}

h2.title a {
  text-decoration: none;
}
