.feature {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
  width: 780px;
}
.feature-m {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  width: 320px;
}
.feature h1{
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
}
.feature-logo {
  padding: 20px;
}

.blue-circle {
  background: rgba(61, 190, 238, 1);
  border: 1px solid #3abeee;
  border-radius: 100px;
  display: inline-block;
  margin: 5px 0;
  padding: 0;
  text-decoration: none;
  transition: .4s;
}
.blue-circle:hover {
  background: rgba(61, 190, 238, 0.8);
}

.tiles {
  color: #444;
  margin: 0 auto;
  width: 780px;
}
.tiles-m {
  color: #444;
  margin: 0 auto;
}
.tile {
  text-align: center;
  float: left;
  width: 250px;
  padding: 5px;
}

.tile-m {
  text-align: center;
  float: none;
  padding: 5px;
}

.tile p {
  height: 100px;
  font-size: 14px;
  padding: 0 5px;
  font-weight: 300;
}

.tile-m p {
  height: 100px;
  font-size: 14px;
  padding: 0 5px;
  font-weight: 300;
}

