header {
  height: 50px;
  border-bottom: thin solid #eee;
  background: #fff;
  color: #777;
}
header .header-content{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-weight: 200;
}

header a {
  text-decoration: none;
  color: #777777;
}
header a:hover {
  color: #0088cc;
}

header .brand {
  float: left;
}

header .brand img {
  height: 50px;
}

header ul.nav {
  float: right;
  display:block;
  list-style:none;
  margin-top: 0;
  margin-bottom: 0;
}

header li {
  display:table-cell;
  vertical-align:middle;
  font-size: 14px;
  padding: 14px 8px;
}

header li ul li {
  height: auto;
  vertical-align: middle;
font-size: 14px;
padding: 7px 20px;
}
header ul.dropdown li ul {
  top:30px;
}

