.product {
  height: 33px;
  border-bottom: thin solid #eee;
  background: #eee;
  color: #777777;
}
.product .product-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
}
.product .brand {
  font-weight: 200;
  float: left;
  font-size: 18px;
  line-height: 32px;
  padding-left: 26px;
}
.product a {
  color: #333;
  text-decoration: none;
}
.product ul {
  float: right;
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
}
.product ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 7px 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.product ul li:hover {
  background: #fff;
  color: #333;
}
.product ul li ul {
  padding: 0;
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  box-shadow: 2px 4px 7px #999;
}
.product ul li ul li {
  background: #fff;
  display: block;
  border-bottom: thin solid #eee;
  border-left: thin solid #eee;
  border-right: thin solid #eee;
}
.product ul li ul li:first-child {
  border-top: thin solid #eee;
}
.product ul li ul li:hover { background: #eee; }
.product ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

