.product {
  height: 33px;
  border-bottom: thin solid #eee;
  background: #eee;
  color: #777777;
}
.product .product-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
}
.product .brand {
  font-weight: 200;
  float: left;
  font-size: 18px;
  line-height: 32px;
  padding-left: 26px;
}
.product a {
  color: #333;
  text-decoration: none;
}
.product ul.nav {
  float: right;
  display:inline;
  list-style:none;
  margin: 0;
}

.product li {
margin-right: -4px;
position: relative;
padding: 7px 20px;
cursor: pointer;
transition: all 0.2s;
}

