---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Radius Networks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/unicorn.login.css" />
    <link rel="stylesheet" href="/css/bootstrap.customizations.css" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Shim in HTML5 -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
      document.createElement("nav");
      document.createElement("header");
      document.createElement("footer");
      document.createElement("section");
      document.createElement("aside");
      document.createElement("article");
    </script>
    <![endif]-->
  </head>
  <body>

    {% include header.html %}
    {% include ibeacon_head.html %}
        <div class="featurette-container-sm" style="margin-top: 20px;">
      <div align="center">
        <p class="lead">Welcome to the Radius Networks Developer Portal.  It's here you can request access to our API, read the documentation, and see examples of how to integrate our proximity API with your app.</p>
        <a class="btn btn-rad-blue" href="android_doc.html" style="width:380px;"><img src="/img/android.svg">Android iBeacon Service</a>
        <a class="btn btn-rad-blue" href="https://github.com/RadiusNetworks/android-ibeacon-service" style="width:380px;"><img src="/img/desktop.svg">Virtual iBeacon</a>
      </div>
    </div>
      <br>


    {% include footer.html %}

    {% include javascript.html %}
  </body>
</html>
