---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Radius Networks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/unicorn.login.css" />
    <link rel="stylesheet" href="css/bootstrap.customizations.css" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Shim in HTML5 -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
      document.createElement("nav");
      document.createElement("header");
      document.createElement("footer");
      document.createElement("section");
      document.createElement("aside");
      document.createElement("article");
    </script>
    <![endif]-->
  </head>
  <body>

    {% include header.html %}
    <div class="featurette-container">
      <div align="center">
        <h2 class="featurette-heading">Welcome Developers,</h2>
        <p class="lead">Welcome to the Radius Networks Developer Portal.  It's here you can request access to our API, read the documentation, and see examples of how to integrate our proximity API with your app.</p>
        <a class="btn-flat" href="apidocs.html" style="width:380px;">Get Started</a>
        <hr>
      </div>
      <br>
      <div class="marketing info">
        <div class="span4">
          <img class="mktgimg" src="img/rest.svg">
          <h3>HTTP Infrastructure</h3><hr>
          <a class="btn-flat" href="authorization.html" style="width:270px;">Authorization</a><br>
          <a class="btn-flat" href="media_type.html" style="width:270px;">Media Type</a><br>
          <a class="btn-flat" href="rest.html" style="width:270px;">REST API</a><br>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="mktgimg" src="img/beacon-lg.svg">
          <h3>Resources</h3><hr>
          <a class="btn-flat" href="accounts.html" style="width:270px;">Accounts</a><br>
          <a class="btn-flat" href="beacons.html" style="width:270px;">Beacons</a><br>
          <a class="btn-flat" href="subscriptions.html" style="width:270px;">Subscriptions</a><br>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="mktgimg" src="img/tools.svg">
          <h3>Developer Tools</h3><hr>
          <a class="btn-flat" href="examples.html" style="width:270px;">Examples</a><br>
          <a class="btn-flat" href="command_line.html" style="width:270px;">Command Line Tools</a><br>
          <a class="btn-flat" href="sdk.html" style="width:270px;">Mobile SDK</a><br>
        </div>
      </div>
      <hr>
    </div>

    {% include footer.html %}

    {% include javascript.html %}
  </body>
</html>
