---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Radius Networks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/unicorn.login.css" />
    <link rel="stylesheet" href="css/bootstrap.customizations.css" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Shim in HTML5 -->
    <!--[if lt IE 9]>
    <script type="text/javascript">
      document.createElement("nav");
      document.createElement("header");
      document.createElement("footer");
      document.createElement("section");
      document.createElement("aside");
      document.createElement("article");
    </script>
    <![endif]-->
  </head>
  <body>

    {% include header.html %}
    <br>
    <br>
    <div class="featurette-container-sm">
      <div align="center">
        <h2 class="featurette-heading">Welcome Developers</h2>
        <p class="lead">Welcome to the Radius Networks Developer Portal.  It's here you can request access to our API, read the documentation, and see examples of how to integrate our proximity API with your app.</p>
      </div>
      <br>
      <div class="row">
      <div class="marketing info">
        <div class="span5">
          <a class="rad-blue" href="message_radius"><img class="mktgimg" src="img/message_radius_icon.svg" alt="Message Radius"></a>
          <h3 itemprop="name">Message Radius</h3>
          <p itemprop="description">Our Message Radius platform will help your business understand and engage your customers at the specific locations that make sense. </p>
          <p><a itemprop="url" class="btn btn-rad-orange" style="margin-top: 15px;" href="message_radius">API Documentation</a></p>
        </div><!-- /.span4 -->
        <div class="span5">
          <a class="rad-blue" href="proximity_kit.html"><img class="mktgimg" src="img/proximity_kit_icon.svg" alt="Proximity Kit Geofence Tool"></a>
          <h3 itemprop="name">Proximity Kit</h3>
          <p itemprop="description">Dead simple geofencing for iOS. Stop worrying about sync strategies and server operations; use our sync API and point-and-click map editor.</p>
          <p><a itemprop="url" class="btn btn-rad-orange" style="margin-top: 10px;" href="proximity_kit.html">API Documentation</a></p>
        </div><!-- /.span4 -->
      </div>
    </div>

    {% include footer.html %}

    {% include javascript.html %}
  </body>
</html>
