<header>
  <nav class="header-content">
    <div class="pull-left">
      <a class="brand" href="/"><img class="mrlogo" src="/img/rdlogo.svg"></a>
    </div>
    <div class="pull-right">
      <ul class="nav dropdown">
        <li>Products
          <ul>
            <li><a href="http://www.radiusnetworks.com/message-radius.html">Message Radius</a></li>
            <li><a href="http://www.radiusnetworks.com/ibeacon-services.html">Beacon Services</a></li>
            <li><a href="http://www.radiusnetworks.com/proximity-kit.html">Proximity Kit</a></li>
          </ul>
        </li>
        <li><a href="http://www.radiusnetworks.com">Company</a></li>
        <li><a href="http://radiusnetworks.com/support.html">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://account.radiusnetworks.com/users/sign_in">Log In</a></li>
        <li><a href="https://account.radiusnetworks.com/users/sign_up?source=devpage" class="btn">Sign Up</a></li>
        <li><a href="http://www.radiusnetworks.com/buy-beacons.html" class="btn btn-rad-blue">Buy Beacons</a>
      </ul>
    </div>
  </nav>
</header>
