<header>
  <nav class="header-content">
    <div class="pull-left">
      <a class="brand" href="/"><img class="mrlogo" src="/img/rdlogo.svg"></a>
    </div>
    <div class="pull-right">
      <ul class="nav">
        <li><a href="http://www.radiusnetworks.com">Company</a></li>
        <li><a href="http://radiusnetworks.com/support.html">Contact</a></li>
        <li><a href="https://account.messageradius.com/users/sign_in">Log In</a></li>
        <li><a href="https://account.messageradius.com/users/sign_up" class="btn">Sign Up</a></li>
      </ul>
    </div>
  </nav>
</header>
