<header id="mr-header" class="navbar navbar-mr">
  <nav class="container">
    <a class="brand" href="/"><img class="mrlogo" src="/img/ibeaconfull.svg" style=""></a>
    <ul class="nav2">
      <li class="dropdown active"><a href="" class="dropdown-toggle disabled" data-toggle="dropdown diabled">Documentation <b class="caret"></b></a>
	      <ul class="dropdown-menu">
	        <li class="disabled"><a href="/" style="margin-left:-10px; border-top: none"><h6>IBEACON DOCS</h6></a></li>
	        	<li><a href="android_doc.html" style="">Android iBeacon Documentation</a></li>
	        	<li><a href="virtual_ibeacon_doc.html" style="">Virtual iBeacon Documentation</a></li>
	        <li class="disabled"><a href="/" style="margin-left: -10px"><h6>IBEACON REPOSITORIES</h6></a></li>
	        	<li><a href="https://github.com/RadiusNetworks/android-ibeacon-service" style="">Android iBeacon Git</a></li>
	      </ul>
	  </li>
    </ul>
  </nav>
</header>