<header id="mr-header" class="navbar navbar-mr">
  <nav class="container">
    <a class="brand" href="/"><img class="mrlogo" src="/img/mrfull.svg" style=""></a>
    <ul class="nav2">
      <li class="dropdown active"><a href="" class="dropdown-toggle disabled" data-toggle="dropdown diabled">Documentation <b class="caret"></b></a>
	      <ul class="dropdown-menu">
	        <li class="disabled"><a href="/" style="margin-left:-10px; border-top: none"><h6>MESSAGE RADIUS API</h6></a></li>
	        	<li><a href="gettingstarted.html" style="">Getting Started</a></li>
	        <li class="disabled"><a href="/" style="margin-left: -10px"><h6>HTTP INFRASTRUCTURE</h6></a></li>
	        	<li><a href="authorization.html" style="">Authorization</a></li>
	  			<li><a href="types.html" style="">Media Types</a></li>
	  			<li><a href="relay.html" style="">Relay API</a></li>
	  			<li><a href="rest.html" style="">REST API</a></li>
	        <li class="disabled"><a href="/" style="margin-left: -10px"><h6>RESOURCES</h6></a></li>
	        	<li><a href="accounts.html" style="">Accounts</a></li>
	        	<li><a href="beacons.html" style="">Beacons</a></li>
	        	<li><a href="subscriptions.html" style="">Subscriptions</a></li>
	        	<li><a href="examples.html" style="">Examples</a></li>
	        <li class="disabled"><a href="/" style="margin-left: -10px"><h6>TOOLS</h6></a></li>
	        	<li><a href="tools.html" style="">Command Line Tools</a></li>
	        	<li><a href="mobile.html" style="">Mobile SDK</a></li>
	      </ul>
	  </li>
    </ul>
  </nav>
</header>