     <div class="row">
      <div align="center">
      <ul class="top_nav">
          <li class="btn btn-rad-blue"> <a href="authorization.html" style="">Authorization</a></li>
          <li class="btn btn-rad-blue"> <a href="types.html" style="">Media Types</a></li>
          <li class="btn btn-rad-blue"> <a href="relay.html" style="">Relay API</a></li>
          <li class="btn btn-rad-blue"> <a href="rest.html" style="">REST API</a></li>
          <li class="btn btn-rad-blue"> <a href="accounts.html" style=""></a>Accounts</li>
          <li class="btn btn-rad-blue"> <a href="beacons.html" style=""></a>Beacons</li>
          <li class="btn btn-rad-blue"> <a href="subscriptions.html" style="">Subscriptions</a></li>
          <li class="btn btn-rad-blue"> <a href="examples.html" style="">Examples</a></li>
          <li class="btn btn-rad-blue"> <a href="tools.html" style="">Command Line Tools</a></li>
          <li class="btn btn-rad-blue"> <a href="mobile.html" style="">Mobile SDK</a></li>
        </div>
      </div>