<!DOCTYPE html>
<html>

<head>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="Android iBeacon Library : An Android library providing APIs to interact with iBeacons" />

<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<title>Android iBeacon Library</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <h1 id="project_title">Android Beacon Library</h1>
    <h2 id="project_tagline" style="font-size: 1.25em;">An Android library providing APIs to interact with iBeacon technology</h2>
    <a class="btn-rad-blue" href="http://developer.radiusnetworks.com/ibeacon/android/" style="margin-top:-10px;">Home</a>
    <a class="btn-rad-blue" href="http://developer.radiusnetworks.com/ibeacon/android/pro/download.html" style="margin-top:-10px;">Download</a>
    <a class="btn-rad-blue" href="http://developer.radiusnetworks.com/ibeacon/android/configure.html" style="margin-top:-10px;">Quick Start</a>
    <a class="btn-rad-blue" href="http://developer.radiusnetworks.com/ibeacon/android/samples.html" style="margin-top:-10px;">Sample Code</a>
    <a class="btn-rad-blue" href="http://developer.radiusnetworks.com/ibeacon/android/documentation.html" style="margin-top:-10px;">Docs</a>
    <a class="btn-rad-blue" href="http://developer.radiusnetworks.com/ibeacon/android/support.html" style="margin-top:-10px;">Support</a>
  </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
{{ content }}
  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p class="copyright">&copy; 2014 <a href="http://www.radiusnetworks.com">Radius Networks</a></p>
  </footer>
</div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44701997-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
