---
layout: default
---
<div class="product">
  <div class="product-content">
    <a href="/messageradius"><div class="brand">Message Radius</div></a>
    <ul class="dropdown">
      <li><a href="http://app.messageradius.com">Dashboard</a></li>
      </li>
      <li>Message Radius API
      <ul>
        <li><a href="gettingstarted.html">Getting Started</a></li>
        <li><a href="authorization.html">Authorization</a></li>
        <li><a href="types.html">Media Types</a></li>
        <li><a href="relay.html">Relay API</a></li>
        <li><a href="rest.html">REST API</a></li>
        <li><a href="accounts.html">Accounts</a></li>
        <li><a href="beacons.html">Beacons</a></li>
        <li><a href="subscriptions.html">Subscriptions</a></li>
        <li><a href="examples.html">Examples</a></li>
        <li><a href="tools.html">Command Line Tools</a></li>
        <li><a href="mobile.html">Mobile SDK</a></li>
      </ul>
      </li>
    </ul>
  </div>
</div>
<div class="yo content">
  {{ content }}
</div>
