<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include header.html %}
    {% include mr_head.html %}

    <section id="api" class="container">
      {% include top_nav.html %}
      <article>
        <div class="featurette-container-sm">
          <br>
        <div class="span9">
            {{ content }}
          </div>
        </div>
      </article>
    </section>
  </div>

    {% include footer.html %}

    {% include javascript.html %}

  </body>
</html>
